/* Form.css */

.form-section {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    color: black;
  }

  .contact-form {
    display: grid;
    gap: 15px;
    margin: 0 auto;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    justify-items: center;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group button {
    background-color:  #3390ba;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-group p {
    margin-top: 10px;
    font-weight: bold;
  }

.total-price {
  font-size: 20px;
}

.discount{
  font-size: 35px;
  color: #3390ba;
}

.type-buttons {
  display: flex;
  justify-content: center;
}

.type-button {
  width: 100px; /* Ajuste o tamanho conforme necessário */
  font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
  margin: 0 5px; /* Espaçamento entre os botões */
}

.type-button.selected {
  background-color: #3390ba;
  color: white;
  border: 2px solid black;
}

.submit-button {
  font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: bold; /* Torna a fonte em negrito */
  color: white; /* Define a cor do texto como branco */
  background-color: #d2b756; /* Define a cor de fundo */
  padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #325faa; /* Define uma cor de fundo diferente quando o botão é passado com o mouse (hover) */
}
